<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>
    <form method="POST" action="/table/addusr">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name = "txt1"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><input type="text" name = "txt2"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name = "txt3"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="number" name = "txt4"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name = "txt5"></td>
            </tr>
            <tr>
                <td>Pasword</td>
                <td><input type="password" name = "txt6"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
                
            </tr>
        </table>
    </form>
    <a href="/table/displayuser">display</a>
</body>
</html>