<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>
<body>
    <h1>Sign Up Form</h1>
    <form method="POST" action="/form_process">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" name = "fname" placeholder="Enter First Name"></td>
        </tr>
        <tr>
            <td>Middle Name</td>
            <td><input type="text" name = "mname" placeholder="Enter Middle Name"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name = "lname" placeholder="Enter Last Name"></td>
        </tr>
        <tr>
            <td>College Name</td>
            <td><input type="text" name = "cname" placeholder="Enter College Name"></td>
        </tr>
        <tr>
            <td>Sem</td>
            <td><input type="number" name = "sem" placeholder="Enter Semester"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="number" name = "phone" placeholder="Enter Phone Number"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name = "mail" placeholder="Enter Email"></td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text" name = "uname" placeholder="Enter Username"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name = "pwd" placeholder="Enter Password"></td>
        </tr>
        <tr>
            <td>Re. Password</td>
            <td><input type="password" name = "pwd1" placeholder="Enter Password again"></td>
        </tr>
        <tr>
            <td><button type="submit">Sign Up</button></td>
        </tr>
    </table>
</form>
</body>
</html>